.center {
  text-align: center;
  display: block;
    margin: auto;
    width: 50%;
}

.container {
  position: relative;
  width: auto;
    height: auto
}

.container img {
    width: 100%;
  height: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.container .btn_laptop {
  position: absolute;
  top: 51.5%;
  left: 81%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 4% 6%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index: 1001;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.container .btn_balcony {
  position: absolute;
  top: 38%;
  left: 71.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 10% 11%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.container .btn_frame {
  position: absolute;
  top: 37.5%;
  left: 54.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 3% 4%;
  border: none;
  cursor: pointer;
  border-radius: 5px;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.container .btn_bed {
  position: absolute;
  top: 63%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 13% 13%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.container .btn_window {
  position: absolute;
  top: 38%;
  left: 91.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12% 5%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.container .btn_bath {
  position: absolute;
  top: 98%;
  left: 61%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 1.5% 18%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;